$color: #EACE83;
$bgHover: #7775;
$padding: 5px;
$padding: 7px;
$imageSize: 16px;
$maxWidth: 120px;
$elementHeight: $imageSize + $padding * 2;

.bookmarks-panel {
	position: absolute;
	top: 5px;
	width: 100%;

	* {
		cursor: default;
		color: $color;
		text-decoration: none;
	}

	ul, li {
		margin: 0;
		padding: 0;
		list-style: none;
	}

	li {
		margin: 0;

		a {
			display: block;
			padding: $padding;
			transition: background .6s;
			background-position: center;
			height: $elementHeight;
		}
		a:hover {
			background: $bgHover radial-gradient(circle, transparent 1%, darken($bgHover, 7%) 1%) center / 15000%;
		}
		a:active {
			background-color: darken($bgHover, 7%);
			background-size: 100%;
			transition: background 0s;
		}
		&.group {
			position: relative;
			.list {
				display: none;
				position: absolute;
				left: 0;
				top: 0;
				max-width: 25vw;
				min-height: $elementHeight;
				min-width: 100%;
				background: #0006;
				border: 1px solid #7775;
			}
			& > .list.open {
				display: block;
			}
		}

		.icon {
			float: left;
			background: center no-repeat;
			width: $imageSize;
			height: $imageSize;
			line-height: $imageSize;
			font-size: 14px;
		}

		.title {
			text-overflow: ellipsis;
			white-space: nowrap;
			overflow: hidden;
			margin-left: $imageSize + 4px;
			line-height: $imageSize;
		}
	}

	.list li {
		clear: both;
	}

	.main-panel > li{
		margin-right: $maxWidth;
		height: $elementHeight;
		padding: 0;

		&:hover {
			background: none !important;
		}
		&:active {
			background: none !important;
		}

		&> a {
			display: none;
		}
		&> ul {
			display: block !important;
			position: inherit !important;
			max-width: 100% !important;
			background: none !important;
			border: none !important;
			top: 0 !important;
			left: 0 !important;

			&> li {
				float: left;
				margin: 0 $padding / 3;
				max-width: $maxWidth;
				clear: inherit;

				&> a {
					border-radius: $imageSize / 2 + $padding;
				}

				&> ul {
					top: 100% !important;
				}
			}
		}
	}

	.second-panel {
		float: right;
		position: relative;
		padding: 0 $padding / 2;

		&:before {
			content: '';
			position: absolute;
			width: 1px;
			left: 0;
			top: $padding;
			bottom: $padding;
			display: block;
			background: $color;
			opacity: .3;
		}

		&> li {
			&> a {
				border-radius: $imageSize / 2 + $padding;
			}

			&> ul {
				top: 100% !important;
			}
		}
	}
}